<div class="main container-fluid">
    <nav class="navbar navbar-expand-lg ">
        <div class="navbaar container-fluid">
          <a class="navbar-brand" href="https://upstox.com/">
            <img src="https://assets.upstox.com/common/images/upstox-logo-primary.svg" width="90" height="46" alt="">               
          </a>

          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <div id="invest" class="dropdown ">
                    <li class="nav-item">
                        <a class="nav-link active droplink" aria-current="page" href="#">Invest</a>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Stocks</a>
                        <a href="#">Mutual Funds</a>
                        <a href="#">IPOs</a>
                      </div>
                </div>

                <div class="dropdown">
                    <li class="nav-item">
                        <a class="nav-link active droplink" aria-current="page" href="#">Trade</a>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Futures & Options</a>
                        <a href="#">Commodities</a>
                        <a href="#">Currency</a>
                      </div>
                </div>

                <div class="dropdown">
                    <li class="nav-item">
                        <a class="nav-link active droplink" aria-current="page" href="#">Learn</a>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Demat Account</a>
                        <a href="#">Trading Account</a>
                        <a href="#">Online Trading</a>
                        <a href="#">Intraday Trading</a>
                        <a href="#">Online Trading</a>
                      </div>
                </div>
                
                <div class="dropdown">
                <li class="nav-item">
                    <a class="nav-link active droplink " href="#">About us</a>
                  </li>
                  <div class="dropdown-content">
                    
                  </div>
                </div>
                <div class="dropdown">
                  <li class="nav-item">
                    <a class="nav-link active droplink" href="#">Pricing</a>
                  </li>
                  <div class="dropdown-content">
                   
                  </div>
                </div>
              </ul>
              <!-- <span class="navbar-text">
                Navbar text with an inline element
              </span> -->
            </div>
          </div>
         <div class="input-icon">
          <form class="d-flex">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input  id="nav-search" class="form-control me-2" type="search" placeholder="Search any stock" size="100px" aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> -->
          </form>
        </div>

          <div id="create-btn"><button type="button" class="btn"><a routerLink="register">Create Account</a> </button></div>
          <div id="sign-btn"><button type="button" class="btn" ><a routerLink="login">Sign In</a> </button></div>
        </div>
      </nav>

</div>

<div id="main-page-2" class="container-fluid row">

  <div id="main-page-2-left" class="col-6">
    <div id="left-content">
      <h1>Powerful Made Simple</h1>
      <div>
        <ul>
          <li>
            <a href="#">Futures & Options</a>
          </li>
          <li>
            <a href="#">Stocks</a>
          </li>
          <li>
            <a href="#">Mutual Funds</a>
          </li>
          <li>
            <a href="#">IPOs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main-page-2-right" class="col-6 bg-success">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active  ">
          <img src="https://upstox.com/app/themes/upstox/dist/img/home/new-banner/dark-slide-mob-1.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://upstox.com/app/themes/upstox/dist/img/home/new-banner/dark-slide-mob-2.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://upstox.com/app/themes/upstox/dist/img/home/new-banner/dark-slide-mob-3.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://upstox.com/app/themes/upstox/dist/img/home/new-banner/dark-slide-mob-4.png" class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>